body {
    width: 85%;
    margin: auto;
    background-color: #393939;
    border: 1px dotted #3ad3e7;
    font-family: 'Roboto', sans-serif;
}

header {
    background: white;
    background-image: url("../img/logo_good.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 271px;
}
ul {
    list-style: none;
}
nav {
    padding-top: 244px;
    text-align: right;
}

nav ul {
    display: block;
    margin: auto;
    width: auto;
    padding-right: 10px;

}

nav ul li {
    display: inline-block;
    padding: 0;

}

nav a {
    text-decoration: none;
    color: rgb(3, 124, 145);
    padding: 3px 3px 3px;
    border: 1px solid rgba(58, 211, 231, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    -webkit-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
}

nav a:hover,


nav a:active{
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    color: rgb(3, 124, 145);
    padding: 3px 3px 3px;
    box-shadow: none;
    border: none;
    -webkit-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
    transition: background-color 0.2s, border-color 0.2s, top .2s, box-shadow 0.2s;
}

a:hover,
a:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(5, 231, 250, 1);
}

a:active{
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}


h1,
h2,
h3,
h4{
    text-align: center;
    color: rgb(3, 124, 145);
}

main {
    display: block;
    background-image: linear-gradient(to right,rgb(3, 136, 146), rgb(12, 40, 43) 15%, rgb(15, 50, 55) 85%,rgb(3, 136, 146));
    /*padding: 20px;*/
    border: 1px solid rgb(58, 211, 231);
}

section {
    display: block;
    background-color: white;
    border: 1px solid #3ad3e7;
}

.content {
    font-size: 1rem;
    display: block;
    width: 90%;
    margin: auto;
    background-color: white;
    /*border: 1px solid #3ad3e7;*/
    padding: 5px 0 25px 25px; /* top right bottom left */
}

.content h1,
.content h2,
.content h4 {
    color: white;
}

.box{
    margin: 10px auto 0 auto;
    padding: 0px 0 10px 0; /* top right bottom left */
    border: 1px solid #3ad3e7;
    border-radius: 6px;
    box-shadow: 0px 1px 3px #393939;
    background-color: rgb(3, 136, 146);
    color: white;
}

.box h3 {
    color: white;
}
.table{
    margin: auto;
    width: auto;

}

.aligned {
    width: auto;
    margin: auto;
}

.inventory{
    width: 75%;
    border-collapse: collapse;
    border-radius: 3px;
}

.inventory th,
.inventory td {
    text-align: center;
    width: auto;
    border: 1px solid black;
}

.h-spacer {
    font-size: 1rem;
    vertical-align: text-top;
    display: inline-grid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: white;
}

.topofpage {
    text-align: center;
    margin: auto;
    width: 90%

}

.spacer {
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 5px 0 300px 25px; /* top right bottom left */
}




footer {
    display: block;
    background: white;
    text-align: center;
}

footer .designers {
    text-align: center;
    margin: auto;
    color: black;
    padding: 25px 0 25px 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .content {
        width: 100%;
        padding: 0;
    }
    .box {
        width: 99%;
        margin: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 95%;
    }
    .content {
        width: 95%;
        padding: 5px 0 25px 25px;
    }
    .box {
        width: 90%;
        margin: 10px auto 0 auto;
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 85%;
    }
    .content {
        width: 90%;
        padding: 5px 0 25px 25px;
    }
    .box {
        width: 75%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .box {
        width: 65%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .box {
        width: 60%;
    }
}